
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* अगर बोल्ड चाहिए तो */
}


/* Custom cursor styles */
.custom-cursor {
  @apply fixed w-8 h-8 pointer-events-none z-50 rounded-full border-2 border-indigo-500 transition-transform duration-200 ease-out;
  transform: translate(-50%, -50%);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
html, body {
  transition: background-color 0.5s ease, color 0.5s ease;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Glass effect */
.glass {
  @apply bg-white/10 backdrop-blur-lg border border-white/20;
}

.dark .glass {
  @apply bg-gray-900/10 border-gray-700/20;
}